<section class="w-full pt-8 flex relative">
    <div class="w-8 z-2">
        <h1>
            Hello, I am Caleb ADOUMADJE <br>
            A Java Spring and Angular Developer
        </h1>
        <p class="pb-5">I am a passionate developer with a keen interest in building dynamic web applications using Spring and Angular frameworks. I am enthusiastic about leveraging my skills to contribute effectively to projects and collaborate with talented teams. <br>
        I thrive in challenging environments where I can continuously learn and grow. My curiosity and problem-solving mindset drive me to explore new technologies and find innovative solutions to complex problems. I am committed to writing clean, maintainable code and following best practices in software development.</p>
        <div 
            class="download-btn inline-block bg-cyan-500 border-round py-2 px-4 cursor-pointer"
            (click)="downloadCV()"
        >
            <i class="pi pi-paperclip"></i>
            Download my CV
        </div>
    </div>
    <iframe 
        class="border-none w-5 absolute right-0 h-20rem" 
        [style]="{
            top: '25%'
        }"
        src="https://lottie.host/embed/ed6ffcff-7b55-4a3d-928b-9cb18665035b/f0rD8zYdjF.json"
    ></iframe>
</section>