<section id="projects" class="mt-8 pt-8 mb-8">
    <span 
        class="block w-4rem bg-cyan-500"
        [style]="{
            height: '3px'
        }"
    ></span>
    <h3 class="mb-6">Projects</h3>
    <ul class="list-none flex">
        <li class="border-1 border-cyan-500 w-5 h-30rem border-round overflow-hidden shadow-1 mr-8">
            <img 
                src="../../../assets/projects/chat-app.png" 
                alt="Chat App"
                class="w-full"
            >
            <h3 class="px-2">Realtime Chat Application with:</h3>
            <p class="px-2">Spring boot + Spring Data Jpa(Hibernate) + Websocket(SockJS and STOMP) + MySQL database 
                + Unit Testing + Angular + Postman + Selenium(Python) + AWS  + Docker + Github Actions for CI/CD pipeline.</p>
            <a 
                target="_blank"
                href="https://github.com/adoumadje/Chat_App_Project" 
                class="open-btn no-underline text-white block border-1 border-round py-2 mx-3 text-center mt-5 border-cyan-500"
            >
                <i class="pi pi-github"></i> 
                Open project details
            </a>
        </li>
        <li class="border-1 border-cyan-500 w-5 h-30rem border-round overflow-hidden shadow-1">
            <img 
                src="../../../assets/projects/todo-app.png" 
                alt="Chat App"
                class="w-full"
            >
            <h3 class="px-2">Todo App with:</h3>
            <p class="px-2">User Authentication + Spring boot + Spring Data Jpa(Hibernate) + Oauth2 Resource Server (JWT) + Postgres Database + Unit Testing + Angular + Postman + Selenium(Python) + AWS  + Docker + Github Actions for CI/CD pipeline.</p>
            <a 
                target="_blank"
                href="https://github.com/adoumadje/Todo_App_Project" 
                class="open-btn no-underline text-white block border-1 border-round py-2 mx-3 text-center mt-5 border-cyan-500"
            >
                <i class="pi pi-github"></i> 
                Open project details
            </a>
        </li>
    </ul>
</section>